body {
    border: 1px solid black; 
}

#piano {
    list-style: none;
    padding-inline-start: 0px;
    margin-top: 0px;
    position: fixed;
}
#piano .key {
    width: 120px;
    height: 24.5px;
    border: 1px solid black;
    border-bottom: none;
    background: #fffff0;
    cursor: pointer;
}
#piano .key:last-child {
    border-bottom: 1px solid black;
}
#piano .black{
    background: black !important;
}

#synth {
    margin-left: 121px;
    border-color: black;
    border-spacing: 0px;
    background-color: darkslategray;
}

#nRow {

}

#nSpot {

}

#note {
    height: 23.5px;
    width: 35.1px;
    background-color: #202020;
}